/* 1439px - 769px  */

@media (max-width: 1033px) {
    .name_input {
        margin-right: 10px;
    }
}

/* 1200px - 769px */
@media screen and (max-width: 1200px) and (min-width: 769px) {
    main {
        padding: 64px 160px;
    }

    .section1 {
        padding: 40px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 60px;
    }

    .submit_button {
        font-size: 28px;
        height: 58px;
    }

    .name_input {
        margin-right: 10px;
    }
}